// //coolors.co/

// @TODO check _variables;

// $fir-c: #463f3a;
// $sec-c: #8a817c;
// $the-c: #bcb8b1;
// $for-c: #f4f3ee;
// $fir-c: #e0afa0;
:root {
  --blue: #00b;
  --c1: #EDE0D4;
  --c2: #E6CCB2; 
  --c3: #DDB892;
  --c4: #B08968;
  --c5: #7F5539;
  --c6: #9C6644;
  --c7: #04e762;
  --c8: #6d8a96;
  --c9: #8e4162;
  --c10: #776885;
  // t
  $c01: #04e762;
}

$c1: #EDE0D4;
$c2: #E6CCB2; // nav
$c3: #DDB892;
$c4: #B08968;
$c5: #7F5539;
$c6: #9C6644;
$c7: #04e762;
$c8: #6d8a96;
$c9: #8e4162;
$c10: #776885;

$bg-main: #f7f7f8;
$bg-main2: #efefef; // site
$text: #191919;
$alert: #c94277;
